<!-- filepath: sections/react-section.liquid -->
<div id="react-section-root">
  {% for block in section.blocks %}
    <div 
      id="react-block-{{ block.id }}" 
      data-props='{
        "title": {{ block.settings.title | json }},
        "description": {{ block.settings.description | json }},
        "buttonText": {{ block.settings.button_text | json }},
        "buttonLink": {{ block.settings.button_link | json }}
      }'>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "React Section",
  "class": "section",
  "blocks": [
    {
      "type": "react_block",
      "name": "React Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Default Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "This is a simple React block."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Click Me"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link",
          "default": "#"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "React Section"
    }
  ]
}
{% endschema %}